In [1]:
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from explainerdashboard import ClassifierExplainer, ExplainerDashboard
# from explainerdashboard.datasets import titanic_survive, feature_descriptions

# X_train, y_train, X_test, y_test = titanic_survive()
# model = RandomForestClassifier(n_estimators=50, max_depth=10).fit(X_train, y_train)

# explainer = ClassifierExplainer(model, X_test, y_test, 
#                                cats=['Sex', 'Deck', 'Embarked'],
#                                descriptions=feature_descriptions,
#                                labels=['Not survived', 'Survived'])

# ExplainerDashboard(explainer).run()

The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`

The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`

The dash_table package is deprecated. Please replace
`import dash_table` with `from dash import dash_table`

Also, if you're using any of the table format helpers (e.g. Group), replace
`from dash_table.Format import Group` with
`from dash.dash_table.Format import Group`

In [2]:
data=pd.read_csv('../CleanedData2.csv')
data.head()

,Unnamed: 0,Type,Condition,Spay/Neuter Status,Sex,Age,Mixed Breed,Outcome,Length of Stay,Month,...,Breed2,Breed Type 1,Size1,Breed Type 2,Size2,Color,Restricted,Prior Encounters,Prolonged Stay,Outcome B
0,0,Public Assist,Normal,Altered,Male,Adult,Mix,Return to Owner,2,Mar,...,NaN,sporting,large,NaN,NaN,Tan,No,0,0,Return
1,1,Public Assist,Normal,Altered,Male,Adult,Mix,Return to Owner,2,Dec,...,NaN,sporting,large,NaN,NaN,Tan,No,1,0,Return
2,2,Stray,Normal,Altered,Male,Senior,Mix,Return to Owner,1,Dec,...,NaN,sporting,large,NaN,NaN,Tan,No,1,0,Return
3,3,Owner Surrender,Normal,Altered,Male,Senior,Pure,Transfer,6,Apr,...,NaN,hound,small,NaN,NaN,Tricolor,No,0,0,Adopt/Trans
4,4,Public Assist,Injured,Altered,Male,Senior,Pure,Return to Owner,1,Nov,...,NaN,herding,small,NaN,NaN,Brown/White,No,0,0,Return

In [3]:
data.columns

Index(['Unnamed: 0', 'Type', 'Condition', 'Spay/Neuter Status', 'Sex', 'Age',
       'Mixed Breed', 'Outcome', 'Length of Stay', 'Month', 'Year',
       'Breed_update', 'Breed1', 'Breed2', 'Breed Type 1', 'Size1',
       'Breed Type 2', 'Size2', 'Color', 'Restricted', 'Prior Encounters',
       'Prolonged Stay', 'Outcome B'],
      dtype='object')

In [4]:
le = LabelEncoder()
data2=data.copy()
data2['Type']= le.fit_transform(data2['Type'])
data2['Condition']= le.fit_transform(data2['Condition'])
data2['Spay/Neuter Status']= le.fit_transform(data2['Spay/Neuter Status'])
data2['Sex']= le.fit_transform(data2['Sex'])
data2['Age']= le.fit_transform(data2['Age'])
data2['Mixed Breed']= le.fit_transform(data2['Mixed Breed'])
data2['Outcome']= le.fit_transform(data2['Outcome'])
data2['Breed_update']= le.fit_transform(data2['Breed_update'])
data2['Breed1']= le.fit_transform(data2['Breed1'])
data2['Breed Type 1']= le.fit_transform(data2['Breed Type 1'])
data2['Size1']= le.fit_transform(data2['Size1'])
data2['Color']= le.fit_transform(data2['Color'])
data2['Restricted']= le.fit_transform(data2['Restricted'])
data2['Outcome B']= le.fit_transform(data2['Outcome B'])
data2.head()

,Unnamed: 0,Type,Condition,Spay/Neuter Status,Sex,Age,Mixed Breed,Outcome,Length of Stay,Month,...,Breed2,Breed Type 1,Size1,Breed Type 2,Size2,Color,Restricted,Prior Encounters,Prolonged Stay,Outcome B
0,0,3,6,0,1,0,0,3,2,Mar,...,NaN,7,0,NaN,NaN,14,0,0,0,2
1,1,3,6,0,1,0,0,3,2,Dec,...,NaN,7,0,NaN,NaN,14,0,1,0,2
2,2,4,6,0,1,2,0,3,1,Dec,...,NaN,7,0,NaN,NaN,14,0,1,0,2
3,3,2,6,0,1,2,1,4,6,Apr,...,NaN,2,2,NaN,NaN,15,0,0,0,0
4,4,3,3,0,1,2,1,3,1,Nov,...,NaN,1,2,NaN,NaN,7,0,0,0,2

In [5]:
data2.columns

Index(['Unnamed: 0', 'Type', 'Condition', 'Spay/Neuter Status', 'Sex', 'Age',
       'Mixed Breed', 'Outcome', 'Length of Stay', 'Month', 'Year',
       'Breed_update', 'Breed1', 'Breed2', 'Breed Type 1', 'Size1',
       'Breed Type 2', 'Size2', 'Color', 'Restricted', 'Prior Encounters',
       'Prolonged Stay', 'Outcome B'],
      dtype='object')

In [6]:
data2.drop('Breed2', axis=1, inplace=True)
data2.drop('Breed Type 2', axis=1, inplace=True)
data2.drop('Size2', axis=1, inplace=True)

data2.columns

Index(['Unnamed: 0', 'Type', 'Condition', 'Spay/Neuter Status', 'Sex', 'Age',
       'Mixed Breed', 'Outcome', 'Length of Stay', 'Month', 'Year',
       'Breed_update', 'Breed1', 'Breed Type 1', 'Size1', 'Color',
       'Restricted', 'Prior Encounters', 'Prolonged Stay', 'Outcome B'],
      dtype='object')

In [7]:
data2.Month.unique()

array(['Mar', 'Dec', 'Apr', 'Nov', 'Sep', 'Oct', 'Feb', 'Aug', 'July',
       'June', 'May', 'Jan'], dtype=object)

In [8]:
months_num = {
   "Jan": 1,
   "Feb": 2,
   "Mar": 3,
   "Apr": 4,
   "May": 5,
   "June": 6,
   "July": 7,
   "Aug": 8,
   "Sep": 9,
   "Oct": 10,
   "Nov": 11,
   "Dec": 12,
}
data2["Month_Num"] = data2["Month"].apply(lambda x: months_num[x])

In [9]:
data2.drop('Month', axis=1, inplace=True)

In [10]:
data2.dtypes

Unnamed: 0            int64
Type                  int64
Condition             int64
Spay/Neuter Status    int64
Sex                   int64
Age                   int64
Mixed Breed           int64
Outcome               int64
Length of Stay        int64
Year                  int64
Breed_update          int64
Breed1                int64
Breed Type 1          int64
Size1                 int64
Color                 int64
Restricted            int64
Prior Encounters      int64
Prolonged Stay        int64
Outcome B             int64
Month_Num             int64
dtype: object

In [11]:
data.head()

,Unnamed: 0,Type,Condition,Spay/Neuter Status,Sex,Age,Mixed Breed,Outcome,Length of Stay,Month,...,Breed2,Breed Type 1,Size1,Breed Type 2,Size2,Color,Restricted,Prior Encounters,Prolonged Stay,Outcome B
0,0,Public Assist,Normal,Altered,Male,Adult,Mix,Return to Owner,2,Mar,...,NaN,sporting,large,NaN,NaN,Tan,No,0,0,Return
1,1,Public Assist,Normal,Altered,Male,Adult,Mix,Return to Owner,2,Dec,...,NaN,sporting,large,NaN,NaN,Tan,No,1,0,Return
2,2,Stray,Normal,Altered,Male,Senior,Mix,Return to Owner,1,Dec,...,NaN,sporting,large,NaN,NaN,Tan,No,1,0,Return
3,3,Owner Surrender,Normal,Altered,Male,Senior,Pure,Transfer,6,Apr,...,NaN,hound,small,NaN,NaN,Tricolor,No,0,0,Adopt/Trans
4,4,Public Assist,Injured,Altered,Male,Senior,Pure,Return to Owner,1,Nov,...,NaN,herding,small,NaN,NaN,Brown/White,No,0,0,Return

In [12]:
Stay_bins= [0, 14, 30, 100, 366]
bin_names= ['Short(<14)', 'Med(14-30)', 'Long(30-100)', 'Extended(>100)']

data2["Stay_Group"] = pd.cut(data2["Length of Stay"], Stay_bins, labels=bin_names)
data2.head(50)

,Unnamed: 0,Type,Condition,Spay/Neuter Status,Sex,Age,Mixed Breed,Outcome,Length of Stay,Year,...,Breed1,Breed Type 1,Size1,Color,Restricted,Prior Encounters,Prolonged Stay,Outcome B,Month_Num,Stay_Group
0,0,3,6,0,1,0,0,3,2,2014,...,177,7,0,14,0,0,0,2,3,Short(<14)
1,1,3,6,0,1,0,0,3,2,2014,...,177,7,0,14,0,1,0,2,12,Short(<14)
2,2,4,6,0,1,2,0,3,1,2017,...,177,7,0,14,0,1,0,2,12,Short(<14)
3,3,2,6,0,1,2,1,4,6,2014,...,66,2,2,15,0,0,0,0,4,Short(<14)
4,4,3,3,0,1,2,1,3,1,2013,...,167,1,2,7,0,0,0,2,11,Short(<14)
5,5,4,0,0,0,2,0,3,2,2013,...,118,7,1,3,1,0,0,2,11,Short(<14)
6,6,4,6,1,0,2,0,3,1,2014,...,130,8,2,0,0,0,0,2,11,Short(<14)
7,7,4,6,0,1,2,0,3,1,2014,...,122,4,2,7,0,0,0,2,9,Short(<14)
8,8,3,6,0,1,2,0,3,7,2014,...,167,1,2,3,0,0,0,2,3,Short(<14)
9,9,4,6,0,0,2,0,3,1,2015,...,167,1,2,7,0,0,0,2,9,Short(<14)
10,10,2,6,0,1,2,0,0,51,2013,...,66,2,2,2,0,0,1,0,10,Long(30-100)
11,11,2,10,0,1,2,0,2,1,2015,...,35,1,1,3,0,0,0,1,2,Short(<14)
12,12,3,0,0,1,2,1,0,10,2016,...,57,9,2,2,0,0,0,0,9,Short(<14)
13,13,4,6,1,0,2,0,3,12,2013,...,93,1,0,2,1,0,0,2,11,Short(<14)
14,14,4,6,0,1,2,0,3,1,2014,...,132,10,0,0,0,0,0,2,8,Short(<14)
15,15,2,10,0,1,2,1,2,1,2013,...,155,9,1,14,0,0,0,1,12,Short(<14)
16,16,2,10,0,1,2,1,2,1,2013,...,155,9,1,14,0,0,0,1,12,Short(<14)
17,17,4,3,0,0,2,0,2,2,2015,...,180,8,1,7,1,0,0,1,4,Short(<14)
18,18,4,6,0,1,2,0,3,2,2013,...,118,7,1,7,0,0,0,2,10,Short(<14)
19,19,4,6,0,1,2,0,0,24,2015,...,118,7,1,13,0,0,1,0,10,Med(14-30)
20,20,4,6,0,0,2,0,3,1,2013,...,53,0,0,10,0,0,0,2,11,Short(<14)
21,21,1,0,1,1,2,1,2,1,2015,...,156,1,1,10,0,0,0,1,3,Short(<14)
22,22,4,0,0,1,2,0,3,1,2014,...,160,10,0,1,1,0,0,2,9,Short(<14)
23,23,4,6,0,1,2,0,3,5,2014,...,173,8,2,15,0,0,0,2,7,Short(<14)
24,24,4,6,0,1,2,0,4,9,2016,...,157,8,2,9,0,0,0,0,6,Short(<14)
25,25,4,6,0,1,2,0,3,2,2014,...,118,7,1,14,0,0,0,2,7,Short(<14)
26,26,4,6,0,1,2,0,4,6,2015,...,118,7,1,14,0,1,0,0,5,Short(<14)
27,27,4,6,0,0,2,0,0,91,2016,...,93,1,0,1,1,0,1,0,8,Long(30-100)
28,28,1,0,0,0,2,1,2,1,2016,...,35,1,1,15,0,0,0,1,3,Short(<14)
29,29,4,6,0,1,2,0,3,1,2014,...,93,1,0,16,1,0,0,2,9,Short(<14)
30,30,4,6,0,0,2,0,3,2,2017,...,57,9,2,14,0,0,0,2,10,Short(<14)
31,31,4,6,0,0,2,0,3,1,2014,...,148,6,0,11,1,0,0,2,1,Short(<14)
32,32,4,6,0,0,2,0,2,5,2014,...,118,7,1,14,0,0,0,1,11,Short(<14)
33,33,4,3,1,1,2,0,3,1,2013,...,118,7,1,14,0,0,0,2,10,Short(<14)
34,34,4,6,0,1,2,0,3,2,2015,...,35,1,1,10,0,0,0,2,6,Short(<14)
35,35,3,6,0,1,2,0,3,2,2016,...,28,4,2,16,0,0,0,2,1,Short(<14)
36,36,3,6,0,1,2,0,3,8,2014,...,112,8,2,7,0,0,0,2,3,Short(<14)
37,37,1,6,0,0,2,0,2,1,2015,...,118,7,1,14,0,0,0,1,8,Short(<14)
38,38,4,6,0,1,2,0,2,8,2014,...,104,2,1,15,0,0,0,1,9,Short(<14)
39,39,4,6,0,0,2,0,0,4,2013,...,151,7,0,15,0,0,0,0,11,Short(<14)
40,40,4,6,0,1,2,0,3,1,2013,...,35,1,1,0,1,0,0,2,11,Short(<14)
41,41,4,6,0,1,2,0,2,10,2014,...,9,4,2,16,0,0,0,1,8,Short(<14)
42,42,4,0,0,1,2,0,3,2,2018,...,57,9,2,14,0,0,0,2,12,Short(<14)
43,43,2,6,0,1,2,0,0,148,2013,...,118,7,1,4,0,0,1,0,12,Extended(>100)
44,44,2,10,0,0,2,0,2,1,2015,...,72,10,0,6,1,0,0,1,1,Short(<14)
45,45,4,6,0,1,2,0,3,2,2014,...,93,1,0,14,1,0,0,2,1,Short(<14)
46,46,4,6,0,1,2,0,3,2,2017,...,141,8,2,3,0,0,0,2,4,Short(<14)
47,47,4,0,0,0,2,0,3,1,2014,...,57,9,2,3,0,0,0,2,12,Short(<14)
48,48,4,6,0,0,2,0,3,1,2015,...,57,9,2,3,0,1,0,2,8,Short(<14)
49,49,3,6,0,1,2,0,3,4,2017,...,148,6,0,6,1,0,0,2,12,Short(<14)

In [13]:
data2.Stay_Group.value_counts()

Short(<14)        57459
Long(30-100)       7605
Med(14-30)         7176
Extended(>100)     2203
Name: Stay_Group, dtype: int64

In [14]:
data2['Stay_Group']= le.fit_transform(data2['Stay_Group'])
data2.drop('Length of Stay', axis=1, inplace=True)
data2.dtypes

Unnamed: 0            int64
Type                  int64
Condition             int64
Spay/Neuter Status    int64
Sex                   int64
Age                   int64
Mixed Breed           int64
Outcome               int64
Year                  int64
Breed_update          int64
Breed1                int64
Breed Type 1          int64
Size1                 int64
Color                 int64
Restricted            int64
Prior Encounters      int64
Prolonged Stay        int64
Outcome B             int64
Month_Num             int64
Stay_Group            int64
dtype: object

In [15]:
data2.Stay_Group.value_counts()

3    57459
1     7605
2     7176
0     2203
Name: Stay_Group, dtype: int64

In [16]:
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

In [17]:
data2_scaled = data_scaler.fit_transform(data2)
data2_scaled[:5]

array([[-1.72293002, -0.53336643,  0.04857637, -1.33323539,  0.92846787,
        -1.41456149, -0.43558749,  0.73107183, -1.31096802,  1.53995802,
         1.54536244,  0.31204957, -1.22619344,  1.18606515, -0.72439815,
        -0.43081987, -0.58960031,  1.61738386, -1.03372297,  0.49479015],
       [-1.72288442, -0.53336643,  0.04857637, -1.33323539,  0.92846787,
        -1.41456149, -0.43558749,  0.73107183, -1.31096802,  1.53995802,
         1.54536244,  0.31204957, -1.22619344,  1.18606515, -0.72439815,
         2.32115572, -0.58960031,  1.61738386,  1.54703872,  0.49479015],
       [-1.72283883,  0.62951422,  0.04857637, -1.33323539,  0.92846787,
         0.48874433, -0.43558749,  0.73107183,  0.00916228,  1.53995802,
         1.54536244,  0.31204957, -1.22619344,  1.18606515, -0.72439815,
         2.32115572, -0.58960031,  1.61738386,  1.54703872,  0.49479015],
       [-1.72279323, -1.69624708,  0.04857637, -1.33323539,  0.92846787,
         0.48874433,  2.29575006,  1.30729558, -1.31096802, -0.4241803 ,
        -0.60929981, -1.26290203,  1.24917044,  1.3720774 , -0.72439815,
        -0.43081987, -0.58960031, -0.64001544, -0.74697167,  0.49479015],
       [-1.72274764, -0.53336643, -2.91387905, -1.33323539,  0.92846787,
         0.48874433,  2.29575006,  0.73107183, -1.75101145,  1.37671399,
         1.35124872, -1.57789234,  1.24917044, -0.11602059, -0.72439815,
        -0.43081987, -0.58960031,  1.61738386,  1.26028742,  0.49479015]])

In [18]:
import numpy as np
print(np.mean(data2_scaled[:,0]))
print(np.std(data2_scaled[:,0]))

1.5271662576953646e-17
1.0

In [19]:
# Initial imports
import pandas as pd
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [20]:
# Define the features set.
X = data2.copy()
X = X.drop("Stay_Group", axis=1)
X.head()

,Unnamed: 0,Type,Condition,Spay/Neuter Status,Sex,Age,Mixed Breed,Outcome,Year,Breed_update,Breed1,Breed Type 1,Size1,Color,Restricted,Prior Encounters,Prolonged Stay,Outcome B,Month_Num
0,0,3,6,0,1,0,0,3,2014,2032,177,7,0,14,0,0,0,2,3
1,1,3,6,0,1,0,0,3,2014,2032,177,7,0,14,0,1,0,2,12
2,2,4,6,0,1,2,0,3,2017,2032,177,7,0,14,0,1,0,2,12
3,3,2,6,0,1,2,1,4,2014,901,66,2,2,15,0,0,0,0,4
4,4,3,3,0,1,2,1,3,2013,1938,167,1,2,7,0,0,0,2,11

In [21]:
# Define the target set.
y = data2["Stay_Group"].values
y[:5]

array([3, 3, 3, 3, 3])

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [23]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(55832, 19)
(18611, 19)
(55832,)
(18611,)

In [24]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [25]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [26]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)
predictions

array([3, 3, 3, ..., 3, 3, 3])

In [27]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Acutal 0", "Acutal 1", "Acutal 2", "Acutal 3"], columns=["Predicted 0", "Predicted 1", "Predicted 2", "Predicted 3"])

cm_df

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Acutal 0          107          230          175           55
Acutal 1          244          883          564          172
Acutal 2          169          604          824          251
Acutal 3           43          182          232        13876

In [28]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [29]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Acutal 0          107          230          175           55
Acutal 1          244          883          564          172
Acutal 2          169          604          824          251
Acutal 3           43          182          232        13876

Accuracy Score : 0.8430498092525925
Classification Report
              precision    recall  f1-score   support

           0       0.19      0.19      0.19       567
           1       0.46      0.47      0.47      1863
           2       0.46      0.45      0.45      1848
           3       0.97      0.97      0.97     14333

    accuracy                           0.84     18611
   macro avg       0.52      0.52      0.52     18611
weighted avg       0.84      0.84      0.84     18611

In [30]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [31]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Acutal 0", "Acutal 1", "Acutal 2", "Acutal 3"], columns=["Predicted 0", "Predicted 1", "Predicted 2", "Predicted 3"])

cm_df

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Acutal 0           65          329          164            9
Acutal 1          115         1106          602           40
Acutal 2           56          697          982          113
Acutal 3           17          161          307        13848

In [32]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [33]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Acutal 0           65          329          164            9
Acutal 1          115         1106          602           40
Acutal 2           56          697          982          113
Acutal 3           17          161          307        13848

Accuracy Score : 0.8597603567782495
Classification Report
              precision    recall  f1-score   support

           0       0.26      0.11      0.16       567
           1       0.48      0.59      0.53      1863
           2       0.48      0.53      0.50      1848
           3       0.99      0.97      0.98     14333

    accuracy                           0.86     18611
   macro avg       0.55      0.55      0.54     18611
weighted avg       0.86      0.86      0.86     18611

In [34]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.10497741, 0.01798008, 0.01498049, 0.01078271, 0.01674342,
       0.0278138 , 0.00876235, 0.02557419, 0.03698334, 0.03794017,
       0.02505097, 0.01836387, 0.01312449, 0.05577786, 0.00708929,
       0.00903113, 0.48301061, 0.0256228 , 0.06039102])

In [35]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.48301061081749636, 'Prolonged Stay'),
 (0.10497740536346782, 'Unnamed: 0'),
 (0.06039101874894384, 'Month_Num'),
 (0.05577786458546978, 'Color'),
 (0.03794017312971887, 'Breed_update'),
 (0.03698334002030938, 'Year'),
 (0.027813804706873377, 'Age'),
 (0.025622797645285078, 'Outcome B'),
 (0.025574189058023878, 'Outcome'),
 (0.02505097305538076, 'Breed1'),
 (0.018363870751078336, 'Breed Type 1'),
 (0.017980075692450113, 'Type'),
 (0.016743423067374873, 'Sex'),
 (0.014980486019976315, 'Condition'),
 (0.013124488468440219, 'Size1'),
 (0.010782705235158185, 'Spay/Neuter Status'),
 (0.009031132256734313, 'Prior Encounters'),
 (0.008762351151405837, 'Mixed Breed'),
 (0.007089290226412745, 'Restricted')]

In [37]:
from sklearn.ensemble import GradientBoostingClassifier

# Create a classifier object
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    classifier = GradientBoostingClassifier(n_estimators=20,
                                            learning_rate=learning_rate,
                                            max_features=5,
                                            max_depth=3,
                                            random_state=0)

    # Fit the model
    classifier.fit(X_train_scaled, y_train)
    print("Learning rate: ", learning_rate)

    # Score the model
    print("Accuracy score (training): {0:.3f}".format(
        classifier.score(
            X_train_scaled,
            y_train)))
    print("Accuracy score (validation): {0:.3f}".format(
        classifier.score(
            X_test_scaled,
            y_test)))
    print()

In [38]:
classifier = GradientBoostingClassifier(n_estimators=20,
   learning_rate=0.5, max_features=5, max_depth=3, random_state=0)

classifier.fit(X_train_scaled, y_train)
predictions = classifier.predict(X_test_scaled)

In [39]:
acc_score = accuracy_score(y_test, predictions)

In [40]:
Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Acutal 0", "Acutal 1", "Acutal 2", "Acutal 3"], columns=["Predicted 0", "Predicted 1", "Predicted 2", "Predicted 3"])

cm_df

In [41]:
print("Classification Report")
print(classification_report(y_test, predictions))